<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="buildAlertFromBarcodeScannerData()" shape="round" fill="outline">Test button</ion-button>
  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scanBarcodeScanner()">
      <ion-icon name="scan-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>